<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- way 1: ion-menu-button will automatically take your default ion-menu you have and open that. -->
      <ion-menu-button></ion-menu-button>

      <!-- way 2: in csse of multiple ion-menu elements specify which menu to openvia 'menu'-->
      <!-- <ion-menu-button menu="mainMenu"></ion-menu-button> -->

      <!-- way 3: opening menu programatically -->
      <!-- <ion-button (click)="onOpenMenu()">Open</ion-button> -->
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Featured Place -->
    <ion-row>
      <!-- total col size 12. for sm screens - total 8 so adding remaning 4 for offset (left and right) -->
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ loadedPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle>{{ loadedPlaces[0].price | currency }} / Night</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]='loadedPlaces[0].imageUrl'></ion-img>
          <ion-card-content>
            <p>{{ loadedPlaces[0].description }}</p>
          </ion-card-content>
          <div class="ion-text-right">
            <!-- "routerDirection" attribute to ion-button is ionic feature.
                 It gives hint to ionic whether this is forward link on backward link
                So that ionic can play appropriate animation.
                Allowed values are - "back" | "forward" | "root"
             -->
            <ion-button fill="clear" color="primary" [routerLink]="['/', 'places', 'tabs', 'discover', loadedPlaces[0].id]">More</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- total col size 12. for sm screens - total 8 so adding remaning 4 for offset (left and right) -->
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-virtual-scroll [items]="listedLoadedPlaces" approxItemHeight="70px">
          <!-- all places except first -->
          <!-- 'detail' attribute on ion-item element shows a '>' sign on the UI so that it is clear that its clickable-->
          <ion-item
            *virtualItem="let place"
            [routerLink]="['/', 'places', 'tabs', 'discover', place.id]"
            detail>
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-title>
              <h2>{{ place.title }}</h2>
              <p>{{ place.description }}</p>
            </ion-title>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
